<div *ngIf="loading" class="loading">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="error" class="error-message">
  {{ error }}
</div>

<mat-card *ngIf="repository">
  <mat-card-header>
    <mat-card-title>{{ repository.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><strong>Descrição:</strong> {{ repository.description || 'Sem descrição' }}</p>
    <p><strong>Estrelas:</strong> {{ repository.stargazers_count }}</p>
    <p><strong>Forks:</strong> {{ repository.forks_count }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="openRepositoryUrl(repository.html_url)">Ver no GitHub</button>
  </mat-card-actions>
</mat-card>
